@layout('layout/master')

@section('content')
  <p> Hello World </p>
  <h1>Chao</h1>
@endsection

@section('main')
  
  @each(item in data)
  <ul class="menu">
    <li class="home">{{ item.name }}</li>
    <li class="home">{{ item.age}}</li>
    <li class="home">Book</li>
  </ul>
  @endeach
  

@endsection