<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ (title)?title+" - Book Community":"Book Community" }} </title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,700;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/admin.css">
    {{--  <link rel="stylesheet" href="./assets/css/reponsive.css">  --}}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/typicons/2.1.1/typicons.min.css">
    @!section('css')
</head>

<body>
    <div id="frame-left">
        <div class="logo-left">
            <a href="/">
                <img class="logo-icon" src="/assets/img/logo.png" alt="">
            </a>
        </div>
        <div id="contribute-buttons">
            <a href="/admin/book/create" id="btn-contribute">
                <i class="fas fa-envelope-open-text"></i>
                <span style="padding-left: 8px;">Gửi bản thảo</span>
            </a>
        </div>
        <ul id="nav-items">
            <li class="index selected">

                <a style="color: #ff5454" href="#"><i style="color: #ff5454" class="fas fa-home-lg-alt"></i> Bản thảo
                    của tôi</a>
            </li>
            <li class="report">

                <a href="#">
                    <i class="fas fa-chart-bar"></i> Chi tiết
                </a>
            </li>
            <li class="comment">

                <a href="#"><i class="fas fa-comment-dots"></i> Bình luận</a>
            </li>
            <li class="withdrawal">

                <a href="#"><i class="fas fa-funnel-dollar"></i> Rút tiền</a>
            </li>
            <li class="contract">

                <a href="#"><i class="fas fa-edit"></i> Ký hợp đồng</a>
            </li>
            <li class="faq">

                <a href="#"><i class="fas fa-question-circle"></i> Các câu hỏi thường gặp</a>
            </li>

        </ul>
    </div>
    <div id="frame-right">
        <div id="top-bar">
            <div class="breadcrumb-bg">
                <ul class="breadcrumb">
                   @each(item in breadcrumb)
                    <li>
                        @if(item.link.lengh == 0 || item.link == NULL)
                            {{item.title}}
                        @else
                            <a href="{{item.link}}" class="breadcrumb-active">{{item.title}}</a>
                        @endif
                    </li>
                   @endeach
                </ul>
            </div>
            <div id="login-user">
                <img class="user-img" src="{{ me.avatar }}">
                <div class="nickname">
                    <div style="display:flex">
                        <a href="#" class="yourname" style="max-height:22px;overflow:hidden">{{ me.name }}</a>
                        
                    </div>
                    <div class="user-id">{{ me.username }}</div>
                </div>

                <div class="down-icon" data-id="login-user-down-menus">
                    <i style="color: #999" class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
                <ul id="login-user-down-menus" class="down-menus" style="display: none;">
                    <li>
                        <a href="/logout">Đăng xuất</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="page-content">
            @!section('content')
        </div>
    </div>

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @include('partial.web.messages')
    @!section('js')
</body>

</html>